body{
	font-family: "Regular", sans-serif;
	background: #3c4143;
	
}


ul, body, li{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}




/*функциональные классы*/
#add_to_blank{
	border: 2px solid blue;
	visibility: hidden;
}

.none{
	display: none;
}



/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*стили главной таблицы*/

/*ul.one-row{
	display: flex;
}

ul.one-row li{
	padding: 10px;
	border: 2px solid red;
	border-left: none;
	border-bottom: none;
	width: 80px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

ul.one-row:last-child li{
	border-bottom: 2px solid black;
}

ul.one-row li:first-child{
	width: 100px;
	border-right : 2px solid green;
}
ul.one-row li:nth-child(5){
	border-right: 2px solid  green;
}

ul.create-row li{
	border-color: black;
}

*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* стили калькулятора .стили функциональных кнопок и инпутов калькулятора*/
 
/*.priceСalculation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.priceСalculation > div{
	margin: 10px 10px;
}

.productSelect{
	display: flex;
}

.productSelect > div{
	margin: 0;
	margin-right: 10px;
}
	

*/

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*Преключение окон*/
/*main{
	display: flex;
}

main .one_window{
	min-width: 100vw;
	display: none;
}

main .one_window:first-child{
	display: block;
}


#switch_tabs ul{
	display: flex;
}


#switch_tabs li{
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
}


/*Бланки для документа*/
/*#all-blank{
	position: absolute;
	width: 50vw;	
	overflow: hidden;
	left: -100vw;
}*/


/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*Бланк для добавления заказов который на экране*/
/*.screen_blank ul{
	display: flex;
}

.screen_blank li{
	padding: 5px 10px;
	border: 1px solid black;
	min-width: 10%;
	max-width: 10%;

}
.screen_blank li.number_of_blanks{
	width: 2%;
	display: flex;
	justify-content: center;
}
.screen_blank li.system_and_color{
	min-width: 25%;
	max-width: 25%;
}*/