/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*Бланк для добавления заказов который на экране*/

.screen_blank{
	margin-top: 70px;
}

.screen_blank ul{
	display: flex;
	position: relative;
}



.screen_blank ul:hover .delenteElement{
	display: flex;
}

.screen_blank li{
	padding: 5px 10px;
	/*border: 1px solid black;*/
	margin: 3px;
	background: #f2f2f2;
	display: flex;
	align-items: center;
}



.delenteElement {
    position: absolute;
    width: 22px;
    height: 35px;
    color: red;
    right: -25px;
    top: 50%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.delenteElement:before {
    content: '+';
    color: #f2f2f2;
    font-size: 35px;
    transform: rotate(45deg);
}

.screen_blank ul:first-child li{
	/*background: #3c4143;*/
	background: #4c5154;
	
	color: rgba(255,255,255, .5);
	/*background: #1c1c1c;*/
}

.screen_blank li.number_of_blanks{
	width: 2%;
	display: flex;
	justify-content: center;
}
.screen_blank li.system_and_color{
	width: 300px;
}

.screen_blank .width, .screen_blank .height,
 .screen_blank .control, .screen_blank .quantity{
 	width: 100px;
 }

.screen_blank .fastening{
	width: 170px;
}




@media screen and (max-width: 1200px){
	.screen_blank .width, .screen_blank .height, .screen_blank .control, .screen_blank .quantity {
	    width: 70px;
	}

}
