.buttons_download_blank{
	position: fixed;
	left: - 400px;
	text-align: right;
}



.download_blank button{
	margin-bottom: 10px;
	margin-top: 30px;
	border-radius: 50px;
	background: inherit;
	padding: 10px 10px;
	border: 3px solid #fcbf14;
	color: #fcbf14;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 13px;
	outline: none;
}

.download_blank .amount_goods{
	margin-left: 10px;
		
}


@media screen and (max-width: 1200px){
	.download_blank button{
		font-size: 11px;
		padding: 13px;
	}


}

